[package]
name = "deadsync"
version = "0.1.735"
authors = ["Patrik Nilsson <perfecttaste@pm.me>"]
edition = "2024"
description = "A competitive SM/ITG engine focused on perfect sync and performance."
license = "GPL-3.0"
repository = "https://github.com/pnn64/deadsync"
keywords = ["deadsync", "stepmania", "itg", "inthegroove", "rhythmgame", "vulkan"]

[dependencies]
winit = "0.30.12"
log = "0.4.29"
env_logger = "0.11.9"
image = "0.25.9"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
rand = "0.10.0"
chrono = "0.4.43"
qrcodegen = "1.8.0"

# Software renderer
softbuffer = "0.4.8"

# Vulkan Dependencies
ash = { version = "0.38.0", features = ["linked"] }
ash-window = "0.13.0"
cgmath = "0.18.0"

# OpenGL Dependencies
glow = "0.16.0"
glutin = "0.32.3"
raw-window-handle = "0.6.2"
wgpu = { version = "28.0.0", features = ["dx12", "vulkan", "gles"] }
pollster = "0.4.0"

# Audio
cpal = "0.17.1"
lewton = "0.10.2"
rubato = "1.0.1"
memmap2 = "0.9.10"

# Networking
ureq = { version = "3.2.0", features = ["json", "rustls"] }

# Song cache
bincode = "2.0.1"
twox-hash = "2.1.2"
tokio = { version = "1.49.0", features = ["rt"] }

# rssp submodule
rssp = { path = "src/extern/rssp" }

# DirectX + Input (Windows)
[target.'cfg(windows)'.dependencies]
gpu-allocator = "0.28.0"
windows = { version = "0.62.2", features = [
    "Foundation",
    "Foundation_Collections",
    "Gaming",
    "Gaming_Input",
    "Win32_Foundation",
    "Win32_Graphics_Gdi",
    "Win32_Devices_HumanInterfaceDevice",
    "Win32_Devices_Display",
    "Win32_UI_Input_KeyboardAndMouse",
    "Win32_UI_WindowsAndMessaging",
    "Win32_System_Threading",
    "Win32_System_LibraryLoader",
    "Win32_System_WinRT",
] }
windows-core = "0.62.2"
windows-targets = "0.53.5"

[target.'cfg(all(unix, not(target_os = "macos")))'.dependencies]
xcb = { version = "1.7.0", features = ["randr"] }
smithay-client-toolkit = { version = "0.20.0", default-features = false }

[target.'cfg(target_os = "macos")'.dependencies]
objc2 = { version = "0.6.3", features = ["relax-sign-encoding"] }
objc2-app-kit = "0.3.2"
objc2-core-foundation = "0.3.2"
objc2-core-graphics = "0.3.2"
objc2-foundation = "0.3.2"

[build-dependencies]
fs_extra = "1.3.0"
glob = "0.3.3"
shaderc = "0.10.1"

[profile.release]
debug-assertions = true

[lints.clippy]
perf = { level = "warn", priority = -1 }

inline_always = "allow"
